<section id="contenido">
<section id="habilidades">
    <div class="header skill-head">
        <h1>Habilidades Adquiridas</h1>
    </div>
    <div class="skill-main">    
      <div class="skill-bar" *ngFor="let habilidades of habilidadeslist">
        <div class="info">
          <p>{{habilidades.habilidad}}<small>{{habilidades.tiempo}}</small></p>
          <p class="porcent">{{habilidades.Porcentaje}}</p>
        </div>
        <div class="bar">
          <span class="barra" style="--w:{{habilidades.Porcentaje}}"></span>
        </div>
      </div>

    </div>
</section>
</section>