<section id="AcercaDeMi">
    <div class="container-all" >
        <img [src]= "persona.imgpersona" alt="imagenmili" id="imagenmili"/>
        <div class="textos">
         <h1 id="subtitulo">{{persona.name}}
          <small>/Alias: {{persona.alias}}</small></h1> 
            <h6>{{persona.titulo}}</h6>
         <p class="paragraph">{{persona.acercademi}}
          </p>
        </div>
        <br> 
        <button type="button" class="btn me-md-2" routerLink="/editacercade/1" *ngIf="isAdmin"><i class="bi bi-pencil"></i> Editar Persona</button>
      
    </div> 
    </section>
